.container {
    display: grid;
    grid-template-columns: ;
    background-color: cadetblue;
    
}

.boxform {
    display: grid;

    


    
}

.name-email {
    display: grid;
    /* justify-content: space-around; */
   
}

.email {
margin-left: 20px;
}

.hbox {
    text-align: center;
}
